.profile-form {
  width: 75%;
  margin: auto;
  padding: 1.5rem;
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.369);
  background-color: var(--color-surface);

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
